@page "/admin/users/role"

@using ADHUIServer.Components;

@inject Blazored.SessionStorage.ISessionStorageService _ISessionStorageService
@inject NavigationManager _navigationManager
@*TODO>>> Handling the error case*@

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>RoleManagementPage</h3>

        @if (Token != null)
        {
            <RoleTable Token="@Token" />

        }

    </Authorized>
</AuthorizeView>




@code {

    private string Token;

    protected async override Task OnInitializedAsync()
    {
        Token = await _ISessionStorageService.GetItemAsync<string>("Token");

        if (Token == null)
        {
            _navigationManager.NavigateTo("login");
        }

    }

}
