USE [ADH_medical_system]
GO
/****** Object:  StoredProcedure [dbo].[spArticles_UpdateArticles]    Script Date: 2020-10-18 6:48:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		dbo
-- Create date: 2020-10-14
-- Description:	update article by the pass Id
-- =============================================
ALTER PROCEDURE [dbo].[spArticles_UpdateArticles]
	@ArticleId nvarchar(128)
	,@Titel nvarchar(256)
	,@Body  text
	,@Show bit
	,@UserId nvarchar(128)
AS
BEGIN

	SET NOCOUNT ON;

   UPDATE [dbo].[Articles]
	SET 
		[Titel] = @Titel
		,[Body] =@Body
		,[LastUpdate] = GETDATE()
		,[Show] = @Show
	WHERE Id = @ArticleId AND UserId = @UserId
END
