<h3>RoleTable</h3>
@using UIDataAccess.Library.Models.Admin

<table class="table table-striped table-hover table-sm table-responsive">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @if (Role.Count > 0)
        {
            foreach (var item in Role)
            {
                <tr id="@item.Id"
                    @onclick="()=>SelectedRole.InvokeAsync(item)">
                    <th scope="row">@item.Id</th>
                    <th scope="row">@item.Name</th>
                </tr>
            }
        }
    </tbody>

</table>

@code {
    [Parameter]
    public List<RoleModle> Role { get; set; }

    [Parameter]
    public EventCallback<RoleModle> SelectedRole { get; set; }

}
