@using UIDataAccess.Library.Models.Admin



<h3>UpdateRoleForm</h3>

<EditForm Model="UserRole" class="form-group" OnSubmit="()=>UpdatedRole.InvokeAsync(UserRole)">
    <InputText @bind-Value="UserRole.Id" placeholder="Id"
               class="form-control"
               disabled="disabled" />

    <InputText @bind-Value="UserRole.Name"
               placeholder="Role Name"
               class="form-control" />

    <button type="submit"
            class="btn btn-primary"
            @onclick="@(()=>SetAction("update"))">
        Update
    </button>

    <button type="submit"
            class="btn btn-danger"
            @onclick="@(()=>SetAction("delete"))">
        Delete
    </button>
</EditForm>

@code {

    [Parameter]
    public RoleModle UserRole { get; set; }

    [Parameter]
    public EventCallback<RoleModle> UpdatedRole { get; set; }

    [Parameter]
    public EventCallback<string> Action { get; set; }


    public async void SetAction(string action)
    {
        await Action.InvokeAsync(action);
    }

}
